body{
    font-family: "Open Sans", sans-serif;
    /* width: 900px;
    margin: auto;
    border: 2px solid rebeccapurple; */
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    
}
.nav-right{
    display: flex;
    margin-right: 15px;
    gap: 25px;    
    align-items: center;
}
.nav-right li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
}
.primary-btn{
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffff;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
}
.nav-left{
    font-size: 2.5em;
    font-weight: 800;
}
.r{
    color: #FD6E0A;
}

header{
    /* background-color: #f8f5e4; */
    background-color: bisque;
    background-image: url("/images/headerbg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;
}
.banner{
    display: flex;
    align-items: center;
}
.hardy{
    width: 400px;
}
.greating{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: #474747;
}
.name{
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

.description{
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}
.bnr-right{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}