body{
    font-family: "Open Sans", sans-serif;
    /* width: 900px;
    margin: auto;
    border: 2px solid rebeccapurple; */
}

/* banner section start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 60px;    
}
.nav-right{
    display: flex;
    margin-right: 15px;
    gap: 25px;    
    align-items: center;
}
.nav-right li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
}
.primary-btn{
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffff;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
}
.nav-left{
    font-size: 2.5em;
    font-weight: 800;
}
.r{
    color: #FD6E0A;
}

header{
    background-color: #f8f5e4;
    /* background-color: bisque; */
    background-image: url("/images/headerbg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    margin-bottom: 50px;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}
.hardy{
    width: 300px;
}
.greating{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    color: #474747;
}

.description{
    width: 450px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}
.hardy-name{
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}
.bnr-right{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    background-color: #f8f5e4;
}
/* .developer{
    height: auto;
} */
/* banner section end */

/* About section start */
.about-container{
    background-color: #fdf1f1;
    width: 700px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.about-me{
    font-size: 25px;
    font-weight: 700;
}
.about-des{
    font-weight: 400;
    font-size: 15px;
    color: #757575;
}
.name{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
}
.personal-detail{
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}
.personal-detail ul> li{
    list-style: none;
}
/* About section end */

/* summary section start */
.summary-title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.summary-container{
    display: flex;
}
.my-education-container, .my-experience-container{
    padding: 30px;
}
.my-education, .my-experience{
    font-size: 20px;
    font-weight: 700;
}
.master, .my-position{
    font-size: 15;
    font-weight: 700;
    color: rgb(26, 26, 44);
}
.harverd, .company{
    font-weight: 600;
    font-size: 13px;
    color:#474747;
}
.education-des, .experience-des{
    font-size: 10px;
    font-weight: 600;
    color: #757575;
}
hr{
    color:#757575;
}
.summery-btn{
    padding: 10px 15px;
}
.summery-button{
    text-align: center;
    margin-top: 20px;
}
/* summary section end */







/* medio quary */

/* smaller device */
@media screen and (max-width:576px) {
    .nav-container{
        gap: 20px;
        padding: 0;
    }
    header{
        background-image: none;
        background-color: #ffff;
    }
    .banner{
        flex-direction: column;
        padding: 0;
    }
    .description{
        width: 400px;
    }

    .personal-detail{
        flex-direction: column;
    }
    .about-container{
        width: 300px;
    }

    .summary-container{
        flex-direction: column;
    }
}